<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body>

    <ion-nav-bar class="bar-calm">
        <ion-nav-buttons side="right" ng-init="initialize()">
            <span class="badge badge-energized " ng-model="$root.airport.countTotalResponses">{{$root.airport.countTotalResponses}}</span>

            <button class="button button-icon button-clear ion-android-sync" ng-click="$root.sendToCloud()">
            </button>
            <span class="badge badge-assertive" ng-model="$root.airport.countLocalResponses">{{$root.airport.countLocalResponses}}</span>
        </ion-nav-buttons>
    </ion-nav-bar>

<ion-nav-view></ion-nav-view>

<script id="templates/tabs.html" type="text/ng-template">

    <ion-pane>
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-pane>

</script>

<script id="templates/intro.html" type="text/ng-template">
    <ion-view view-title="Intro Airport Show 2015">
        <ion-content class="padding">
            <video width="100%" height="100%" preload="metadata" autoplay loop>
                <source src="img/intro.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </ion-content>
    </ion-view>
</script>

<script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="Airport Show 2015">
        <ion-content class="padding bg-home">
            <div class="content-area">
                <div class="row row-center">
                    <div class="col" style="padding-top: 150px"><a class="button button-calm button-airport button-full button-large" style="height: 100px;
  line-height: 100px;
  font-size: 48px;" href="#/tab/identityscan">Start Poll</a></div>
                </div>
                <!--
                <a class="button button-airport" style="position: absolute; right: 100px; bottom: 100px; width: 200px" href="#/tab/identityscan" ng-click="clearFields()">Start Poll</a>
                -->
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/identity-scan.html" type="text/ng-template">
    <ion-view view-title="Reveal your Identity">
        <ion-content class="padding bg-survey">
            <div class="content-area" ng-init="initialize()">
                <div class="row row-center">
                    <div class="col"><h3>Please Scan your barcode</h3></div>
                </div>

                <div class="row row-center">
                    <div class="col"><button class="button button-calm button-airport button-full button-large" ng-click="scanBarcode()">Scan</button></div>
                </div>

                <div class="row row-center">
                    <div class="col"><h2 style="text-align: center">OR</h2></div>
                </div>

                <div class="row">
                    <div class="col"><h3>Enter your Registration Number</h3></div>
                </div>

                <div class="row">
                    <div class="col">
                    <label class="item-input-wrapper">
                        <input type="text" ng-model="$root.airport.regNumber" class="item-input button-large" style="width: 100%; font-size: 36px" />
                    </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="button button-calm button-airport button-full button-large icon icon-right ion-chevron-right" ng-disabled="!$root.airport.regNumber" href="#/tab/favoriteairport">Next</a>
                    </div>
                </div>
<!--
                <h3 class="item-input-inset">Please Scan your barcode</h3>
                <button class="button button-airport item-input-inset" ng-click="scanBarcode()">Scan</button>
                <h2>OR</h2>
                <h3 class="item-input-wrapper">Enter your Registration Number.</h3>
                <div class="item-input-wrapper">
                    <input type="text" ng-model="regNumber" placeholder="6281006709812" class="item-input" value="{{regNumber}}" />
                </div>
                    <div class="item-input-inset">
                    <a class="button button-airport icon icon-right ion-chevron-right" ng-disabled="!regNumber" href="#/tab/favoriteairport">Next</a>
                </div>-->
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/favorite-airport.html" type="text/ng-template">
    <ion-view view-title="Choose Your Favorite Airport">
        <ion-content class="padding bg-survey">
            <div class="content-area">
                <div class="row row-center">
                    <div class="col"><h3>Which is your favorite Airport?</h3></div>
                </div>

                <div class="row row-center">
                    <div class="col">
                        <div class="item-input-inset">
                            <label class="item-input-wrapper">
                                <i class="icon ion-plane placeholder-icon" style="font-size: 20px"></i>
                                <input class="button-large" style="width: 100%; font-size: 18px;" type="search" placeholder="Search" ng-change="search()" ng-model="data.search" />
                            </label>
                            <button class="button button-clear" ng-click="data.search = ''">
                                <i class="icon ion-close-circled" style="font-size: 24px"></i>
                            </button>
                        </div>

                    </div>

                </div>

                <div class="row row-center">
                    <div class="col list" style="margin-top: -20px;">
                        <li class="item" ng-repeat="airline in data.airlines"><a ng-click="fillInput(airline)">{{airline.name + ' (' + airline.iata + ')'}}</a></li>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a class="button button-calm button-airport button-full button-large icon ion-chevron-right" href="#/tab/thankyou" ng-disabled="!data.search" ng-click="submitData()"> Finish</a>
                    </div>
                </div>
             <!--
        <p>Which is your favorite Airport?</p><br>
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-plane placeholder-icon"></i>
                    <input style="width: 100%" type="search" placeholder="Search" ng-change="search()" ng-model="data.search">
                </label>
                <button class="button button-clear" ng-click="data.search = ''">
                    Cancel
                </button>
            </div>

            <div class="list">
                <li class="item" ng-repeat="airline in data.airlines"><a ng-click="fillInput(airline)">{{airline.name + ' (' + airline.iata + ')'}}</a></li>
            </div>
            <p>
                <a class="button button-airport icon ion-chevron-right" href="#/tab/thankyou" ng-disabled="!data.search" ng-click="submitData()"> Finish</a>
            </p>-->
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/thank-you.html" type="text/ng-template">
    <ion-view view-title="Thank You">
        <ion-content class="padding bg-survey">
            <div class="content-area">
                <div class="row row-center">
                    <div class="col"><h3>Your opinion is important for us. Thanks for your participation.</h3></div>
                </div>

                <div class="row row-center">
                    <div class="col">
                        <a class="button button-calm button-airport button-full button-large icon icon-right ion-chevron-right" ng-click="goToHome()">Start Over</a>
                    </div>
                </div>

            </div>
        </ion-content>
    </ion-view>
</script>

</body>
</html>